<div class="container">
    <h1>Graphs</h1>
    <hr/>
    <h2>Trade by Currency From</h2>
    <hr/>
	<nvd3-pie-chart
      data="listCurrencyFrom"
       id="CurrencyFromId"
       showLabels="true"
       x="xFunction()"
       y="yFunction()"
       donut="true"
       donutRatio=".5"
       donutLabelsOutside="true">
   	   <svg height="400"></svg>
	</nvd3-pie-chart>
	<hr/>
	<h2>Trade by Currency To</h2>
	<hr/>
	<nvd3-pie-chart
          data="listCurrencyTo"
           id="CurrencyToId"
           showLabels="true"
           x="xFunction()"
           y="yFunction()"
           donut="true"
           donutRatio=".5"
           donutLabelsOutside="true">
       	<svg height="400"></svg>
   	</nvd3-pie-chart>
   	<hr/>
   	<h2>Trade by Original Country List</h2>
   	<hr/>
	<nvd3-pie-chart
          data="listCountries"
           id="CountriesId"
           showLabels="true"
           x="zFunction()"
           y="yFunction()"
           donut="true"
           donutRatio=".5"
           donutLabelsOutside="true">
       	<svg height="400"></svg>
   	</nvd3-pie-chart>
    <hr/>
    <h2>Trade by Currency From List</h2>
    <hr/>
	<table class="table table-striped">
	  <tr style="font-weight:bold;">
	    <td>Currency From</td>
	    <td>Count</td>
	  </tr>
	  <tr ng-repeat="currency in listCurrencyFrom">
	    <td>{{currency.currencyCode}}</td>
	    <td>{{currency.count}}</td>
	  </tr>
	</table>

    <h2>Trade by Currency To List</h2>
	<table class="table table-striped">
	  <tr style="font-weight:bold;">
	    <td>Currency To</td>
	    <td>Count</td>
	  </tr>
	  <tr ng-repeat="currency in listCurrencyTo">
	    <td>{{currency.currencyCode}}</td>
	    <td>{{currency.count}}</td>
	  </tr>
	</table>
	
    <h2>Trade by Original Country List</h2>
	<table class="table table-striped">
	  <tr style="font-weight:bold;">
	    <td>Country</td>
	    <td>Count</td>
	  </tr>
	  <tr ng-repeat="currency in listCountries">
	    <td>{{currency.countryCode}}</td>
	    <td>{{currency.count}}</td>
	  </tr>
	</table>
</div>
